## Variables and Collections

In [1]:
print("I'm Python. Nice to meet you!")

I'm Python. Nice to meet you!

In [2]:
print("Hello, World", end="!")

Hello, World!

In [3]:
print("Hello, World", end="best")

Hello, Worldbest

In [4]:
print("Hello, World", end=" best")

Hello, World best

In [5]:
input_string_var = input("Enter some data: ")

In [6]:
input_string_var = input("Enter your name: ")

In [7]:
some_var = 5

In [8]:
user_value = 10
print("User value is", user_value)

User value is 10

In [9]:
"new" if 0 > 1 else "old"

'old'

In [ ]:
li = []
li.append(1) 
li.append(2)
li.append(4)
li.append(3)
li

[1, 1, 2, 4, 3]

In [11]:
li = []
li.append(1) 
li.append(2)
li.append(4)
li.append(3)
li[1]

2

In [12]:
li = []
li.append(1) 
li.append(2)
li.append(4)
li.append(3)
li.pop()
li

[1, 2, 4]

In [13]:
li = []
li.append(1) 
li.append(2)
li.append(4)
li.append(3)
li.pop(2)
li

[1, 2, 3]

In [14]:
li = []
li.append(1) 
li.append(2)
li.append(4)
li.append(3)
li[-1]

3

In [15]:
li = []
li.append(1) 
li.append(2)
li.append(4)
li.append(3)
li[-2]

4

In [16]:
li = []
li.append(1) 
li.append(2)
li.append(4)
li.append(3)
li[-0]

1

In [17]:
li = []
li.append(1) 
li.append(2)
li.append(4)
li.append(3)
li[-3]

2

In [18]:
li = []
li.append(1) 
li.append(2)
li.append(4)
li.append(3)
li[-4]

1

In [19]:
li = []
li.append(1) 
li.append(2)
li.append(4)
li.append(3)
li[-5]

IndexError: list index out of range

In [ ]:
li = []
li.append(1) 
li.append(2)
li.append(4)
li.append(3)
li[1:3]

[2, 4]

In [ ]:
li = []
li.append(1) 
li.append(2)
li.append(4)
li.append(3)
li[2:1]

[]

In [ ]:
li = []
li.append(1) 
li.append(2)
li.append(4)
li.append(3)
li[1:2]

[2]

In [ ]:
li = []
li.append(1) 
li.append(2)
li.append(4)
li.append(3)
li[3::]

[3]

In [ ]:
li = []
li.append(1) 
li.append(2)
li.append(4)
li.append(3)
li[2::]

[4, 3]

In [ ]:
li = []
li.append(1) 
li.append(2)
li.append(4)
li.append(3)
li[2:]

[4, 3]

In [ ]:
li = []
li.append(1) 
li.append(2)
li.append(4)
li.append(3)
li[:2]

[1, 2]

In [ ]:
li = []
li.append(1) 
li.append(2)
li.append(4)
li.append(3)
li[:3]

[1, 2, 4]

In [ ]:
li = []
li.append(1) 
li.append(2)
li.append(4)
li.append(3)
li[::3]

[1, 3]

In [ ]:
li = []
li.append(1) 
li.append(2)
li.append(4)
li.append(3)
li[::2]

[1, 4]

In [ ]:
li = []
li.append(1) 
li.append(2)
li.append(4)
li.append(3)
li[::-1]

[3, 4, 2, 1]

In [ ]:
li = []
li.append(1) 
li.append(2)
li.append(4)
li.append(3)
li[1:3:2]

[2]

In [ ]:
li = []
li.append(1) 
li.append(2)
li.append(4)
li.append(3)
li[1:4:2]

[2, 3]

In [ ]:
li2 = [1, 2, 4, 3]
li2 = li[:]
li2 is li

False

In [ ]:
li2 = [1, 2, 4, 3]
del li2[2]
li2

[1, 2, 3]

In [ ]:
li2 = [1, 2, 4, 3]
li2.remove(1)
li2

[2, 4, 3]

In [ ]:
li = [1, 2, 4, 3]
li.insert(2, 5)
li

[1, 2, 5, 4, 3]

In [ ]:
li = [1, 2, 4, 3]
li.index(4)

2

In [ ]:
li = [1, 2, 4, 3]
other_li = [7]
li + other_li

[1, 2, 4, 3, 7]

In [ ]:
li = [1, 2, 4, 3]
other_li = [7]
li.extend(other_li) 
li

[1, 2, 4, 3, 7]

In [ ]:
li = [1, 2, 4, 3]
2 in li

True

In [ ]:
li = [1, 2, 4, 3]
len(li)

4

In [ ]:
tup = (1, 2, 3)
tup

(1, 2, 3)

In [ ]:
tup = (1, 2, 3)
tup[1]

2

In [ ]:
li = [1, 2, 4, 3]
li[1] = 5
li

[1, 5, 4, 3]

In [ ]:
tup = (1, 2, 3)
tup[1] = 2

TypeError: 'tuple' object does not support item assignment

In [ ]:
tup = (1, 2, 3)
type((1))

int

In [ ]:
tup = (1, 2, 3)
type((1,))

tuple

In [ ]:
tup = (1, 2, 3)
type(())

tuple

In [ ]:
tup = (1, 2, 3)
len(tup)

3

In [ ]:
tup = (1, 2, 3)
tup + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [ ]:
li = [1, 2, 4, 3]
li + [6,8]

[1, 2, 4, 3, 6, 8]

In [ ]:
tup = (1, 2, 3)
tup[:2]

(1, 2)

In [ ]:
tup = (1, 2, 3)
2 in tup

True

In [ ]:
a, b, c = (1, 2, 6)
a, b,c

(1, 2, 6)

In [ ]:
*a, b, c = (1, 2, 3, 4)
a,b,c

([1, 2], 3, 4)

In [ ]:
d, e, f = 4, 5, 6
e, d = d, e
e,d

(4, 5)

In [ ]:

filled_dict = {"one": 1, "two": 2, "three": 3}
filled_dict

{'one': 1, 'two': 2, 'three': 3}

In [ ]:
invalid_dict = {"123": [1,2,3]}
invalid_dict

{'123': [1, 2, 3]}

In [ ]:
valid_dict = {(1,2,3):[1,2,3,4]}
valid_dict

{(1, 2, 3): [1, 2, 3, 4]}

In [ ]:
invalid_dict = {"123": "123"} 
invalid_dict

{'123': '123'}

In [ ]:
filled_dict = {"one": 1, "two": 2, "three": 3}
filled_dict["one"]

1

In [ ]:
filled_dict = {"one": 1, "two": 2, "three": 3}
list(filled_dict.keys())

['one', 'two', 'three']

In [ ]:
filled_dict = {"one": 1, "two": 2, "three": 3}
list(filled_dict.values())

[1, 2, 3]

In [ ]:
filled_dict = {"one": 1, "two": 2, "three": 3}
"one" in filled_dict

True

In [ ]:
filled_dict = {"one": 1, "two": 2, "three": 3}
filled_dict.get("one")

1

In [ ]:
filled_dict = {"one": 1, "two": 2, "three": 3}
filled_dict.get("four", 5)

5

In [ ]:
filled_dict = {"one": 1, "two": 2, "three": 3}
filled_dict.setdefault("five", 5)
filled_dict.get("five")

5

In [ ]:
filled_dict = {"one": 1, "two": 2, "three": 3}
filled_dict.update({"three":4})
filled_dict

{'one': 1, 'two': 2, 'three': 4}

In [ ]:
filled_dict = {"one": 1, "two": 2, "three": 3}
filled_dict["four"] = 4 
filled_dict

{'one': 1, 'two': 2, 'three': 3, 'four': 4}

In [ ]:
filled_dict = {"one": 1, "two": 2, "three": 3}
del filled_dict["three"]
filled_dict

{'one': 1, 'two': 2}

In [ ]:
a = {"x": 1}
b = {"y": 2}
c = {**a, **{"b":3}}
c

{'x': 1, 'b': 3}

In [20]:
empty_set = set()
empty_set

set()

In [21]:
set_value = {1, 2, 3}
set_value

{1, 2, 3}

In [22]:
invalid_set = {[1], 1}
invalid_set

TypeError: unhashable type: 'list'

In [26]:
invalid_set = {(1), 1}
invalid_set

{1}

In [27]:
invalid_set = {(1,), 1}
invalid_set

{(1,), 1}

In [29]:
some_set = {1, 2, 3}
filled_set = some_set
filled_set.add(4)
filled_set

{1, 2, 3, 4}

In [30]:
some_set = {1, 2, 3}
filled_set = some_set
filled_set.add(2)
filled_set

{1, 2, 3}

In [38]:
some_set = {1, 2, 3, 4}
other_set = {3, 4, 5, 6}
some_set & other_set

{3, 4}

In [40]:
some_set = {1, 2, 3, 4,7}
other_set = {3, 4, 5, 6}
some_set | other_set

{1, 2, 3, 4, 5, 6, 7}

In [41]:
some_set = {1, 2, 3, 4,7}
other_set = {3, 4, 5, 6}
some_set - other_set

{1, 2, 7}

In [42]:
some_set = {1, 2, 3, 4,7}
other_set = {3, 4, 5, 6}
some_set ^ other_set

{1, 2, 5, 6, 7}

In [46]:
some_set = {1, 2}
other_set = {1,2,3}
some_set >= other_set

False

In [50]:
some_set = {1, 2}
other_set = {1,2,3}
some_set <= other_set

True

In [53]:
some_set = {1, 2}
2 in some_set

True

In [54]:
some_set = {1, 2}
5 in some_set

False

In [55]:
some_set = {1, 2}
filled_set = some_set.copy()
filled_set

{1, 2}

In [56]:
some_set = {1, 2}
filled_set = some_set.copy()
filled_set is some_set

False